.images {
  .images-header {
    display: flex;
    justify-content: space-between;
    .upload-btn {
      background-color: $app-color;
      color: #ffffff;
    }
  }
  .images-content {
    padding: 20px;
  }
  img {
    border: 1px solid lightblue;
  }
}